<?xml version="1.0"?>

<robot name="rmitbot"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_platform.xacro" />
    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_gazebo.xacro" />
    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_ros2_control.xacro" /> 
    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_imu.xacro" /> 
    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_laser.xacro" />
</robot>